* {
  border: 1px solid gray;
}

.block1 {
  width: 100%;
  height: 80px;
}

.block1__left {
  background-color: gray;
  width: 200px;
  height: 50px;
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.block1__right {
  background-color: gray;
  float: right;
  width: 200px;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
}

.block2 {
  width: 100%;
  height: 80px;
}


.block2__left {
  background-color: gray;
  width: 200px;
  height: 50px;
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.block2__right {
  width: 640px;
  height: 50px;
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
}

.block2__right-first {
  background-color: gray;
  width: 200px;
  height: 50px;
  float: left;
}

.block2__right-second {
  width: 420px;
  height: 50px;
  float: right;
}

.block2__right-second-left {
  background-color: gray;
  width: 200px;
  height: 50px;
  float: left;
}

.block2__right-second-right {
  background-color: gray;
  width: 200px;
  height: 50px;
  float: right;

}

.block3 {
  width: 100%;
  height: 80px;
}

.block3__left {
  width: 420px;
  height: 50px;
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
}


.block3__left-first {
  background-color: gray;
  width: 200px;
  height: 50px;
  float: left;
}

.block3__left-second {
  background-color: gray;
  width: 200px;
  height: 50px;
  float: right;
}

.block3__right {
  width: 420px;
  height: 50px;
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
}

.block3__right-first {
  background-color: gray;
  width: 200px;
  height: 50px;
  float: left;
}

.block3__right-second {
  background-color: gray;
  width: 200px;
  height: 50px;
  float: right;
}

.block4 {
  width: 100%;
  height: 150px;
  float: right;
}

.block4__right {
  width: 440px;
  height: 120px;
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
}

.block4__right--lg {
  background-color: gray;
  width: 200px;
  height: 120px;
  float: left;
}

.block4__right--sm {
  width: 200px;
  height: 120px;
  float: right;
  margin-right: 20px;
}

.block4__right--sm1 {
  background-color: gray;
  width: 200px;
  height: 50px;
  margin-bottom: 0px;
}

.block4__right--sm2 {
  background-color: gray;
  width: 200px;
  height: 50px;
  margin-top: 15px;
}


.block5 {
  width: 100%;
  height: 150px;
}

.block5__center {
  width: 440px;
  height: 120px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.block5__center--lg {
  background-color: gray;
  width: 200px;
  height: 120px;
  float: left;

}

.block5__center--sm {
  width: 200px;
  height: 120px;
  float: right;

}

.block5__center--sm1 {
  background-color: gray;
  width: 200px;
  height: 50px;
  margin-bottom: 15px;
}

.block5__center--sm2 {
  background-color: gray;
  width: 200px;
  height: 50px;
  margin-top: 0px;
}

.clear {
  clear: both;
}