.circle {
  fill: #ff0000;
  stroke: #008000;
  opacity: 0.8;
  stroke-width: 12px;
  transition: 2s;
}

.circle:hover {
  fill: #ee82ee;
  stroke: #00ffff;
}

.ellipse {
  fill: #ffff00;
  stroke: #000000;
  stroke-width: 7px;
  transition: 3s;
}

.ellipse:hover {
  fill: #add8e6;
  stroke: #ff7f50;
  stroke-width: 7px;
  transform: translate(150px, 100px);
}