*,
*::before,
*::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}


.container {
    box-sizing: border-box;
    width: calc(100% - 40px);
    font-family: "Roboto";
    padding: 20px;
    margin: 0 auto;
    max-width:1200px;
}

.hr {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 8px 0;
    font-size: 48px;
    margin-top: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
    -1px -1px 2px rgba(255, 255, 255, 0.2);
}

.hr::before,
.hr::after {
    content: '';
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0;
    line-height: 0;
    margin: 0 8px;
}

.search {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 10px;
    margin-left: 0;
}

.search__group--input {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 4px;
    margin-top: 20px;
}

.search__label-input {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    font-size: 24px;
    min-width: 70px;
    text-align: right;
}

.search__input {
    border: 1px solid rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    padding: 8px;
    font-size: 18px;
    outline: none;
    flex-grow: 1;
}


.search__input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 1);
}



.search__group--checkbox {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;

}

.search__checkbox {
    margin-right: 5px;
}

.search__checkbox:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 255, 255, 1);
}

.search__label-checkbox {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
    font-size: 16px;
}

@media (max-width: 1200px) {
    .hr {
        font-size: 36px;
    }
    .search__label-input,
    .search__input {
        font-weight: 500;
        font-size: 16px;
    }
    .search__label-checkbox {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .hr {
        font-size: 24px;
    }
    .search__label-input,
    .search__input {
        font-size: 14px;
    }
    .search__label-checkbox {
        font-size: 12px;
    }
}

.movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    padding: 0 10px;

}
.movie {
    width:100%;
    height: 580px;
    position: relative;
    overflow: hidden;
}
.movie img {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-poster {
    width: 100%;
    height: auto;
    max-height: 350px;
    object-fit: contain;
    border-radius: 6px;

}

@media (max-width: 1024px) {
    .movies {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .movies {
        grid-template-columns: repeat(1, 1fr);
    }
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#preloader.visible {
    display: flex;
    opacity: 1;
    visibility: visible;
}

#preloader.hidden {
    opacity: 0;
    visibility: hidden;
}
