@use 'mixins' as *; 
@use 'abstracts' as *;
.header {
  background-color: $color-gray-light;
  padding-top: 49px;
  padding-bottom: 140px;
  @include respond-to(md){
    display: flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 80px;
  }
  }
   
  
  .header-box {
  width: 100%;
  }
  
  .navbar {
  margin-bottom: 142px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: $line-height;
  letter-spacing: 0.1em;
  text-align: left;
  padding-top: 30px;
  @include respond-to(md){
    margin-bottom: 82px;
    font-size: 14px;
    padding-top: 25px;
  }
  
  }
  
  .navbar__list {
  display: flex;
  gap: $gap-lg;
  @include respond-to(md){
    flex-wrap: wrap;
    gap: $gap;
  }
  @include respond-to(sm){
    flex-direction: column;
    gap: $gap-sm;
  }
  
  }
  
  
  .navbar__link--active {
  font-weight: 500;
  color: $color-primery;
  line-height: $line-height;
  
  }
  
  .content {
  max-width: 540px;
  
  }
  
  .content__title {
  font-family: $font-family;
  font-weight: 500;
  font-size: 48px;
  color: $color-black;
  line-height: $line-height;
  padding-bottom: 35px;
  @include respond-to(md){
    font-size: 35px;
    padding-bottom: 30px;
  }
  }
  
  .content__description {
  display: flex;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  color: $color-content;
  line-height: $line-height;
    padding-bottom: 60px;
  @include respond-to(md){
    font-size: 14px;
    padding-bottom: 50px;
  }
  }
  
  .content__link {
  width: 225px;
  background-color: $color-primery;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: $line-height;
  text-align: center;
  color: $color-white;
  padding: 20px 48px 20px 48px;
  display: block;
  @include respond-to(md){
    width: auto;
    font-size: 14px;
    padding: 15px 48px 15px 48px;
    display: inline-block;
  }
  }