* {
  box-sizing: border-box;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: black;
}

p {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.main {
  background-image: url(../image/169503235_6b28b1aa-ab96-454f-aeb8-d004451c55af.svg);
  opacity: 0.5;
  padding: 20px;
  margin: 20px;
  position: relative;
  overflow: visible;
}


.button-wrapper {
  width: 100%;
}

.button {
  border-radius: 2px;
  padding: 5px;
  color: gray;
  position: relative;
  display: inline-block;
  left: 50%;
}