@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
  &__list {
    @include md-min {
      display: grid !important;
      justify-content: end;

      letter-spacing: 0.09em;

      font-size: 1.125rem;
      font-weight: 400;

      gap: $gap;
      grid-template-columns: repeat(auto-fit, minmax(40px, max-content));
      @include unlist(0 (-$gap-sm) 0 0);
    }
    @include md {
      position: absolute;
      top: 100%;
      right: $gap;

      display: none;

      text-align: right;

      background-color: rgba($color-gray-dark, 0.4);

      backdrop-filter: blur(3px);
      @include box-shadow;
      @include unlist;
    }
  }
  &__item {
    @include md {
      margin: 20px;
    }
  }
  &__link {
    display: block;

    transition: color 0.3s;

    @include md-min {
      padding: $gap $gap-sm;
    }
    @include md {
      padding: $gap-sm $gap;
    }

    &:hover,
    :focus {
      color: $color-accent;
    }
  }

  * {
    margin: 0;
    padding: 0;
  }

  &__btn {
    position: absolute;
    z-index: 10;
    top: $gap-lg;
    right: $gap;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 40px;
    height: 30px;

    cursor: pointer;

    border: none;
    background: transparent;

    @media (min-width: 768px) {
      display: none;
    }

    &-row {
      display: block;

      width: 100%;
      height: 4px;

      transition: all 0.3s ease;

      border-radius: 2px;
      background-color: $color-white;
    }

    &.active {
      position: absolute;

      display: block;
      .header-navbar__btn-row:nth-child(1) {
        transform: rotate(45deg) translate(0px, 0px);
      }

      .header-navbar__btn-row:nth-child(2) {
        opacity: 0;
      }

      .header-navbar__btn-row:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }
}
