@use "mixins" as *;
@use "abstracts" as *;

.video {
  display: block;

  width: 100%;
  padding-bottom: 100px;

  border: 0;

  @include respond-to(sm) {
    padding-bottom: 50px;
  }

  &__iframe {
    display: block;

    width: 100%;
    height: 600px;

    border: 0;

    @include respond-to(lg) {
      position: relative;

      width: 100%;
    }
    @include respond-to(md) {
      height: 300px;
    }
  }
  //@include respond-to(small){
  // height: 200px;
  //}
}
